<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="MySQL" type="MySql.Data.MySqlClient.MySqlConfiguration, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
  </configSections>
  <connectionStrings>
    <!--<add name="InsendluEntities" connectionString="metadata=res://*/Connection.Model1.csdl|res://*/Connection.Model1.ssdl|res://*/Connection.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Insendlu;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="insedluEntities" connectionString="metadata=res://*/MySqlConnection.MySqlModel.csdl|res://*/MySqlConnection.MySqlModel.ssdl|res://*/MySqlConnection.MySqlModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=insedlu&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="insedluEntities" connectionString="metadata=res://*/MySqlConnection.MySqlModel.csdl|res://*/MySqlConnection.MySqlModel.ssdl|res://*/MySqlConnection.MySqlModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=insedlu&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="insedluEntities" providerName="MySql.Data.MySqlClient" connectionString="server=octopussy.aserv.co.za;uid=insedoar_user;pwd=hf[[1UHhD+6r;database=insedoar_db"/>-->
    <!--<add name="insedluEntities" connectionString="server=octopussy.aserv.co.za;uid=insedoar_user;pwd=hf[[1UHhD+6r;database=insedoar_db;" providerName="MySql.Data.MySqlClient" />--><!--<add name="InsendluEntities" connectionString="metadata=res://*/Connection.Model1.csdl|res://*/Connection.Model1.ssdl|res://*/Connection.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Insendlu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
    <!--<add name="InsedluEntities" connectionString="metadata=res://*/Connection.Model1.csdl|res://*/Connection.Model1.ssdl|res://*/Connection.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL6003.SmarterASP.NET;Initial Catalog=DB_A29396_mastech17;User Id=DB_A29396_mastech17_admin;Password=Jehovahjireh87;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="InsendluEntities" connectionString="metadata=res://*/Connection.Model1.csdl|res://*/Connection.Model1.ssdl|res://*/Connection.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Insendlu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="InsendluEntities" connectionString="metadata=res://*/Connection.Model1.csdl|res://*/Connection.Model1.ssdl|res://*/Connection.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL6003.SmarterASP.NET;initial catalog=DB_A29396_mastech17;persist security info=True;user id=DB_A29396_mastech17_admin;password=Jehovahjireh87;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.872.0" newVersion="5.0.872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.Oracle" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.80.0" newVersion="8.2.80.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <add name="dotConnect for MySql" invariant="Devart.Data.MySql" description="Devart dotConnect for MySql" type="Devart.Data.MySql.MySqlProviderFactory, Devart.Data.MySql, Version=8.9.931.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=8.2.80.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
  <MySQL>
    <Replication>
      <ServerGroups>
        <Group name="Fabric" groupType="MySql.Fabric.FabricServerGroup, MySql.Fabric.Plugin">
          <Servers>
            <Server name="fabric" connectionstring="server=;port=32275;uid=;password=;" />
          </Servers>
        </Group>
      </ServerGroups>
    </Replication>
  </MySQL>
</configuration>